[build-system]
{% if environment_manager == "poetry" %}
# Require poetry > 2.0 to support optional dependency specificiation and dependency groups as per pypa standards
requires = ["poetry-core>=2.0.0", "poetry-dynamic-versioning>=1.0.0,<2.0.0"]
build-backend = "poetry_dynamic_versioning.backend" # Use poetry's standard build backend
{% else %}
requires = ["setuptools>=61", "setuptools-scm[toml]>=7.1", "wheel"]
build-backend = "setuptools.build_meta"
{% endif %}

[project]
name = "{{project_slug}}"
description = "{{project_description}}"
readme = "README.md"
requires-python = ">=3.11"
keywords = []
authors = [
  { name = "{{author_name}}", email = "{{author_email}}" },
]
{# Rationale: The authors are all contributers, the maintainers are the people currently doing the main work on the
  project. Consequently, in the beginning, the author is also the maintainer. #}
maintainers = [
  { name = "{{author_name}}", email = "{{author_email}}" },
]

classifiers = [
  "Programming Language :: Python",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: Implementation :: CPython",
]

dependencies = []

dynamic = ["version"]

[dependency-groups]
test = ["pytest", "pytest-cov"]
lint = ["ruff"]
format = ["ruff"]
{% if type_checking %}type-checking = ["mypy"]{% endif %}
build = ["build"]
dev = [{include-group = "test"}, {include-group = "lint"}, {include-group = "format"}{% if environment_manager != "poetry" %}, {include-group = "build"}{% endif %}{% if type_checking %}, {include-group = "type-checking"}{% endif %},]

[tool.setuptools_scm]

{% if environment_manager == "poetry" %}
[tool.poetry]
version = "0.0.0"

[tool.poetry.requires-plugins]
poetry-dynamic-versioning = { version = ">=1.0.0,<2.0.0", extras = ["plugin"] }

[tool.poetry-dynamic-versioning]
enable = true
{% endif %}